<?xml version='1.0' encoding='utf-8'?>
<widget id="com.helpmate.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelpMate</name>
    <description>Community Help Marketplace</description>
    <author email="support@helpmate.com" href="https://helpmate.com">
        HelpMate Team
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="scheme" value="http" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#0f172a" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <plugin name="cordova-plugin-whitelist" spec="^1.3.5" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.0" />
    <plugin name="@havesource/cordova-plugin-push" spec="^5.0.0">
        <variable name="SENDER_ID" value="24777544847" />
    </plugin>
</widget>